<div id="contato" data-role="view" data-title="Contato" data-layout="main" data-model="APP.models.contacts" data-use-native-scrolling="true">
    <header data-role="header">
        <div data-role="navbar" id="normal" class="km-accent">
            <a id="hamburguer" data-align="left" data-role="button" href="#appDrawer" data-rel="drawer" data-icon="drawer-icon"></a>
            <span class="titulo" data-role="view-title"></span>
        </div>
    </header>
    <div class="corFundo" align="center">
        <div class="corFundo">
            <div class="topSpace"></div>
            <p id="secretaria">E-mail</p>
            <a data-rel="external" data-role="button" class="km-primary km-large email" data-role="listview-link" href="mailto:clubenavaldf@clubenavaldf.com.br">clubenavaldf@clubenavaldf.com.br</a>
            <div class="topSpace"></div>
            <div class="topSpace"></div>
            <p id="secretaria">Telefone</p>
            <div class="topSpace"></div>
            <p id="telefone">(61) 3223-2332</p>
            <div class="topSpace"></div>
            <div class="conteudo">
                <table align="center">
                    <colgroup>
                        <col align="justify" style="width:auto" />
                        <col align="justify" style="width:auto" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Setor</th>
                            <th>&nbsp;Ramal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Secretaria</td>
                            <td>&nbsp;&nbsp;200</td>
                        </tr>
                        <tr>
                            <td>Tesouraria</td>
                            <td>&nbsp;&nbsp;201</td>
                        </tr>
                        <tr>
                            <td>Seção de Eventos</td>
                            <td>&nbsp;&nbsp;226</td>
                        </tr>
                        <tr>
                            <td>Seção de Esportes</td>
                            <td>&nbsp;&nbsp;205</td>
                        </tr>
                        <tr>
                            <td>Secretaria de Tênis</td>
                            <td>&nbsp;&nbsp;219</td>
                        </tr>
                        <tr>
                            <td>Secretaria Náutica</td>
                            <td>&nbsp;&nbsp;209</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bottomSpace"></div>
    </div>
</div>