<div data-role="view" data-title="Localização" data-layout="main" data-model="APP.models.contacts" data-use-native-scrolling="true">
    <header data-role="header">
        <div data-role="navbar" id="normal" class="km-accent">
            <a id="hamburguer" data-align="left" data-role="button" href="#appDrawer" data-rel="drawer" data-icon="drawer-icon"></a>
            <span class="titulo" data-role="view-title"></span>
        </div>
    </header>
    <div class="corFundo" align="justify">
        <div class="topSpace"></div>
        <div class="historia" align="justify">
            <p>
                SCES, Trecho 2, Conjunto 13, Asa Sul, Brasília - DF, 70200-002
            </p>
        </div>
        <div class="topSpace"></div>
    </div>
    <div class="corFundo" align="justify">
        <iframe class="historia" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJu2rdlrEkWpMRJqTFa6xEaLg&key=AIzaSyC1_f4NCdpNOw8miHl__HlZHKHvdmOMH-c&center=-15.8188,-47.8552&zoom=14&maptype=roadmap">
        </iframe>
        <div class="topSpace"></div>
    </div>
</div>